<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete</title>
</head>
<body>
    <h1>Bạn có muốn xóa không</h1>
    <form action="/create/delete/<%=course._id%>?_method=DELETE" method="POST">
        <button type="submit">Xóa</button>
    </form>
</body>
</html>